@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h1 class="display-4">About</h1>
    <br>
    <p>
        We are one the best flower and flower delivery online shops around Europe.
         Well known for our low prices and our customer friendly services, we are still
          the number one choice of customers across the continent. If you think this is just 
          bragging, please try our services and see why we are the best several years in a row.
           You will be amazed, we guarantee it.
    </p>
</div>
