@{
    ViewData["Title"] = "Contacts";
}

<div class="text-center">
    <h1 class="display-4">Contacts</h1>
    <br>
    <h6>E-mail: cvetqzavseki@gmail.com</h6>
    <h6>0898 486 941</h6>
    <br>
    <p>
        If you have any questions regarding our products or delivery do not hesitate to 
        contact us via email or telephone. We value your opinion so any feedback will be 
        greatly appreciated.
    </p>
</div>
