@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my FlowerShop</h1>
    <br>
    <p>
    You want to order flowers for the birthday of your relative, or for your anniversary, 
    or maybe just to suprise your special someone without any occasion ? The reason does not matter,
    you are definetely at the right place for this.
    </p>

<br>
<a asp-controller="Browse">Go check our flowers</a>
</div>
